* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--color-base-grey-300);
}



:root {
  font-size: 62.5%;
  font-weight: 400;

  --color-base-white: hsl(0, 0%, 100%);
  --color-base-grey-100: hsl(0, 0%, 96%);
  --color-base-grey-300: hsl(240, 6%, 58%);
  --color-base-grey-500: hsl(0, 0%, 24%);
  --color-base-grey-900: hsl(240, 6%, 13%);
  --color-base-black: hsl(0, 0%, 0%);
}

html, body, input {
  font-family: "Mulish", sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: var(--color-base-white);
  color: var(--color-base-grey-900);
}

#app {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  height: 100vh;
}

.container {
  padding: 1.6rem 3.2rem;
  margin: 0 auto;
  width: min(112rem, 100%);

}

main {
  background-color: lightblue;
  overflow-y: scroll;

  background-color: var(--color-base-grey-100);
}

header,
nav, 
nav ul {
  display: flex;
  align-items: center;
  gap: 7.2rem;
  font-weight: 600;
}

header form {
  flex: 1;
}

nav ul {
  list-style: none;
  font-size: 1.8rem;
  color: var(--color-base-grey-300);
  font-weight: 700;
}

ul li.active a {
  color: var(--color-base-grey-900);
}

ul li a:hover {
  color: var(--color-base-grey-900);
  cursor: pointer;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
}

.input-wrapper input {
  width: 100%;
  padding: 1.6rem;
  background-color: var(--color-base-grey-100);
  border: 0;
  border-radius: .6rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.input-wrapper input::placeholder {
  color: var(--color-base-grey-500);
  opacity: 0.56;
}

.input-wrapper input:focus {
  outline: 1px solid var(--color-base-grey-300);
  /* outline: none; */
}

.avatar {
  width: 4.2rem;
  height: 4.2rem;
  object-fit: cover;
  border-radius: 50%;
}

.avatar:hover {
  cursor: pointer;
}

/* ====================
  START: Galeria 
  ===================== */
main h1 {
  padding-top: 1.6rem;
  font-size: 2.4rem;
}

.gallery {
  margin-top: 3.2rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.2rem;

}

.item {
  background-color: var(--color-base-white);
  border-radius: .8rem;
  overflow: hidden;
}

.item img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;

  transition: all 200ms ease-out;
  display: block;
}

.item img:hover {
  filter: hue-rotate(7deg) contrast(101%) saturate(200%);
  transform: scale(1.1) rotate(-2deg);
  cursor: pointer;
}

.details {
  background-color: var(--color-base-white);
  padding: 2.2rem;  
  z-index: 1;
  position: relative;
}

.details h2 {
  font-size: 1.8rem;
}

.tags {
  margin-top: 1.2rem;
}

.tags span {
  padding: .6rem;
  background-color: var(--color-base-grey-100);
  border-radius: .4rem;
  line-height: 0;
  font-size: 1.2rem;
  text-transform: uppercase;
}

/* ====================
  END: Galeria 
  ===================== */

footer p {
  text-align: center;
  padding: 1.6rem;
  font-weight: 600;
}

/* Animações */

header {
  --startY: -100%;
  animation: move .2s;
}

footer {
  --startY: 100%;
  animation: move .2s alternate;
}

@keyframes move {
  from {
    transform: translateY(var(--startY));
  }
}

.item {
  --delay: .4s;
  animation: appear .4s var(--delay) backwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }

  50% {
    transform: scale(1.2);
  }
}