* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: calc(62.5% / 10);

  --color-Chinese-Black: #0F0D13;
  --color-Yankees-Blue: #2A2141;
  --color-Platinum-White: #E1E1E6;
  --color-Light-Silver: #D9D9D9;
  --color-Light-Silver-Opacity: #d9d9d97c;
}

button {
  background: transparent;
  border: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16rem;
  color: var(--color-Platinum-White);

  background: var(--color-Chinese-Black);
}

#player {
  padding: 38rem;
  margin: 30rem auto;
  max-width: 300px;
  border-radius: 10rem;

  background: var(--color-Yankees-Blue);
}

.player-wrapper {
  display: grid;
  grid-column: 1fr;

  justify-content: center;

  gap: 28rem;

}

.player-wrapper > img {
  object-fit: cover;
  width: 100%;
}

.music-info {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

#music-name {
  font-size: 24rem;
  font-weight: 700;
}

#artist-name {
  font-size: 18rem;
  font-weight: 400;
}

.player-buttons {
  display: flex;
  gap: 50rem;
}

#rewind,
#play-pause,
#fast-forward {
  cursor: pointer;
}

.player-buttons span {
  color: var(--color-Platinum-White);
  font-size: 28rem;
}

.player-progress-bar {
  display: flex;
  flex-direction: column;
  gap: 10rem
}

#progress-bar-container {
  width: 100%;
  height: 6rem;
  border-radius: 9rem;
  background-color: var(--color-Light-Silver-Opacity);
  margin-top: 10px;
}

#progress-bar {
  height: 100%;
  background-color: var(--color-Light-Silver);
  width: 0;
  border-radius: 9rem;
}

.time-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 14rem;
}